{% extends "challenges/base.html" %}


{% block content %}

<div class="page-header">
  <h1>Published Challenges</h1>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Points</th>
        <th>Published Date</th>
      </tr>
    </thead>
    <tbody>
    {% for c in challenge_list %}
      <tr>
        <td><a href="{% url 'challenge_view' c.pk %}">{{ c.name }}</a></td>
        <td>{{ c.points }}</td>
        <td>{{ c.pub_date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{% url "challenge_list" %}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{% url "challenge_list" %}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}


{% endblock %}
