<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>{% block title %}HITES11 Code Tester{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="shortcut icon"  href="/static/favicon.ico">
    
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse">
      {% block nav %}
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">HITES11 Code Tester</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class='nav navbar-nav'>
            {% for item, sublist in nav_menu %}
              {% if sublist %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}">
                    {{ item.name }}<span class="caret"></span>
                  </a>
                </li>
                <ul class="dropdown-menu">
                {% for sitem in sublist %}
                  <li><a href="{{ sitem.url }}">{{ sitem.name }}</a></li>
                {% endfor %}
                </ul>
              {% else %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
              {% endif %}
            {% endfor %}
            </ul>
            <ul class='nav navbar-nav navbar-right'>
            {% if user.is_authenticated %}
              <li><a href="/accounts/profile/">
                <span class="glyphicon glyphicon-user"></span> {{ user.username }}
              </a></li>
              <li><a href="/accounts/logout/">
                <span class="glyphicon glyphicon-log-out"></span> Log Out
              </a></li>
            {% else %}
              <li><a href="/accounts/register/">
                <span class="glyphicon glyphicon-user"></span> Register
              </a></li>
              <li><a href="/accounts/login/">
                <span class="glyphicon glyphicon-log-in"></span> Login
              </a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      {% endblock %}
      </nav>
    
      <div id="content" class="container-fluid">      
        <div class="row content">
          {% block content %}
          {% endblock %}
          <br>
        </div>
      </div>
    
      <footer>
      {% block footer %}
        <p>Copyright (c) Adam Howard</p>
      {% endblock %}
      </footer>
    </div>
  </body>
</html>
